@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  scroll-behavior: smooth;
}

/* typography */
h1,
h2,
h3 {
  letter-spacing: 0.02em;
}

h1 {
  font-size: clamp(2.25rem, 4vw, 3rem);
  /* 36px → 48px */
  font-weight: 800;
  font-family: "Orbitron", sans-serif !important;
}

h2 {
  font-size: clamp(1.875rem, 3vw, 2.25rem);
  /* 30px → 36px */
  font-weight: 700;
  font-family: "Orbitron", sans-serif !important;
}

h3 {
  font-size: clamp(1.5rem, 2.5vw, 1.875rem);
  font-weight: 600;
  font-family: "Orbitron", sans-serif !important;
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 500;
  font-family: "Orbitron", sans-serif !important;
}

h5 {
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
  font-weight: 500;
  font-family: "Orbitron", sans-serif !important;
}

p {
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.6;
}

span {
  font-size: clamp(0.875rem, 1vw, 0.95rem);
}

small {
  font-size: clamp(0.75rem, 0.75vw, 0.75rem);
}

a {
  font-size: inherit;
  /* Match surrounding text */
}

li {
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  /* Same as body */
  line-height: 1.6;
}

/* typography */

/* custom button */
.custom-btn {
  font-size: 13px;
  color: #6b777c;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.custom-btn:focus,
.custom-btn:hover {
  color: #132b34;
}

.custom-btn:focus:after,
.custom-btn:hover:after {
  width: 100%;
  left: 0%;
}

.custom-btn:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: orangered;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* custom button */