@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Orbitron", sans-serif !important;
}

/* typography */
h1 {
  font-size: clamp(2rem, 2vw, 2rem);
  font-weight: 800;
  font-family: var(--font);
}

h2 {
  font-size: clamp(1.75rem, 1.75vw, 1.75rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  font-weight: 500;
}

h5 {
  font-size: clamp(1.1rem, 1.1vw, 1.1rem);
  font-weight: 400;
}

p {
  font-size: clamp(1rem, 1vw, 1.1rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

small,
span {
  font-size: clamp(0.85rem, 1vw, 0.875rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  font-size: calc(0.4em + 0.4vw);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
  font-size: calc(0.6em + 0.5vw);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* typography */

/* custom button */
.custom-btn {
  font-size: 13px;
  color: #6b777c;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.custom-btn:focus,
.custom-btn:hover {
  color: #132b34;
}

.custom-btn:focus:after,
.custom-btn:hover:after {
  width: 100%;
  left: 0%;
}

.custom-btn:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: orangered;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* custom button */